<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Smashtag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7CA8B9E1C6A4F0E0061ACBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7CA8BB21C6A4F0E0061ACBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7CA8BBD1C6A4F0E0061ACBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
